artifacts-keyring==0.3.4
certifi==2024.6.2
charset-normalizer==3.3.2
Cython==3.0.10
idna==3.7
jaraco.classes==3.4.0
jaraco.context==5.3.0
jaraco.functools==4.0.1
keyring==25.2.1
more-itertools==10.2.0
numpy==1.26.4
pywin32-ctypes==0.2.2
requests==2.32.3
urllib3==2.2.1
