name: Publish snapshot of test scan

on: 
  push:
    branches: 
      - main

jobs:

  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
    - uses: actions/checkout@v2.3.2
      with:
          fetch-depth: 0

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 6.0.x
        include-prerelease: true

    - name: dotnet restore
      run: dotnet restore

# Need fetch depth : 0 because https://github.com/dotnet/Nerdbank.GitVersioning/issues/174#issuecomment-384961489
    - name: Clone verification repo
      uses: actions/checkout@v2.3.2
      with: 
        repository: microsoft/componentdetection-verification
        path: componentdetection-verification
        token: ${{ secrets.GH_Private_Repo_Pat }}
        fetch-depth: 0
        
    - name: Install Apache Ivy on Windows to support Ivy detector
      if: ${{ matrix.os == 'windows-latest' }}
      run: Choco-Install -PackageName ivy
      shell: powershell

    - name: Install Apache Ivy on Ubuntu to support Ivy detector
      if: ${{ matrix.os == 'ubuntu-latest' }}
      run: curl https://archive.apache.org/dist/ant/ivy/2.5.0/apache-ivy-2.5.0-bin.tar.gz | tar xOz apache-ivy-2.5.0/ivy-2.5.0.jar > /usr/share/ant/lib/ivy.jar
    
    - name: Make output directory
      run: mkdir output

    - name: Scan verification repo
      working-directory: src/Microsoft.ComponentDetection/
      run: dotnet run scan --Verbosity Verbose --SourceDirectory ../../componentdetection-verification --Output ../../output

    - name: Upload output folder
      uses: actions/upload-artifact@v2
      with:
        name: release-snapshot-output-${{ matrix.os }}
        path: output
