name: Verify snapshot of test scan

on: [pull_request]

permissions:
  contents: read

jobs:
  verify:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Make release snapshot output directory
        run: mkdir ${{ github.workspace }}/release-output

      - name: Get latest release snapshot download url
        id: download-latest-release-snapshot
        uses: actions/github-script@v6
        with:
          result-encoding: string
          script: |
            const res = await github.paginate(
              github.rest.actions.listArtifactsForRepo.endpoint.merge({
                owner: 'microsoft',
                repo: 'component-detection',
              })
            );

            return res
              .filter(
                (artifact) => artifact.name === 'release-snapshot-output-${{ matrix.os }}'
              )
              .sort((a, b) => new Date(b.updated_at) - new Date(a.updated_at))[0]
              .archive_download_url;

      - name: Download latest release snapshot
        working-directory: ${{ github.workspace }}/release-output
        run: |
          curl -v -L -u octocat:${{ secrets.GITHUB_TOKEN }} -o output.zip "${{ steps.download-latest-release-snapshot.outputs.result }}"
          unzip output.zip
          rm output.zip

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3

      - run: dotnet restore

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: curl https://archive.apache.org/dist/ant/ivy/2.5.0/apache-ivy-2.5.0-bin.tar.gz | tar xOz apache-ivy-2.5.0/ivy-2.5.0.jar > /usr/share/ant/lib/ivy.jar

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'windows-latest' }}
        run: choco install ivy

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install ivy

      - name: Make output directory
        run: mkdir ${{ github.workspace }}/output

      - name: LinuxDetection warning
        if: $${{ matrix.os == 'macos-latest' || matrix.os == 'windows-latest'}}
        run: echo "Linux detection is not supported on ${{ matrix.os }}. Please rely on ubuntu run for LinuxDetection."

      - name: Scan verification repo
        working-directory: src/Microsoft.ComponentDetection
        run: dotnet run scan --Verbosity Verbose --SourceDirectory ${{ github.workspace }}/test/Microsoft.ComponentDetection.VerificationTests/resources --Output ${{ github.workspace }}/output
                                                 --DockerImagesToScan "docker.io/library/debian@sha256:9b0e3056b8cd8630271825665a0613cc27829d6a24906dc0122b3b4834312f7d,mcr.microsoft.com/cbl-mariner/base/core:2.0,alpine@sha256:1304f174557314a7ed9eddb4eab12fed12cb0cd9809e4c28f29af86979a3c870"

      - name: Run Verification Tests
        working-directory: test/Microsoft.ComponentDetection.VerificationTests
        run: dotnet test
        env:
          OFFICIAL_BUILD: 'True'
          GITHUB_OLD_ARTIFACTS_DIR: ${{ github.workspace }}/release-output
          GITHUB_NEW_ARTIFACTS_DIR: ${{ github.workspace }}/output
          ALLOWED_TIME_DRIFT_RATIO: '.75'
