name: Publish snapshot of test scan

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]

    steps:
      - uses: actions/checkout@v3

      - name: Setup .NET Core
        uses: actions/setup-dotnet@v3

      - name: Setup NuGet cache
        uses: actions/cache@v3
        with:
          path: ~/.nuget/packages
          key: ${{ runner.os }}-nuget-${{ hashFiles('**/*.csproj', '**/*.props') }}
          restore-keys: ${{ runner.os }}-nuget-

      - run: dotnet restore

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'ubuntu-latest' }}
        run: curl https://downloads.apache.org/ant/ivy/2.5.1/apache-ivy-2.5.1-bin.tar.gz | tar xOz apache-ivy-2.5.1/ivy-2.5.1.jar > /usr/share/ant/lib/ivy.jar

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'windows-latest' }}
        shell: bash
        run: curl https://downloads.apache.org/ant/ivy/2.5.1/apache-ivy-2.5.1-bin.tar.gz | tar xOz apache-ivy-2.5.1/ivy-2.5.1.jar > "$ANT_HOME/lib/ivy.jar"

      - name: Install Apache Ivy
        if: ${{ matrix.os == 'macos-latest' }}
        run: brew install ivy

      - name: Make output directory
        run: mkdir ${{ github.workspace }}/output

      - name: Scan verification repo
        working-directory: src/Microsoft.ComponentDetection
        run: dotnet run scan --Verbosity Verbose --SourceDirectory ${{ github.workspace }}/test/Microsoft.ComponentDetection.VerificationTests/resources --Output ${{ github.workspace }}/output
                                                 --DockerImagesToScan "docker.io/library/debian@sha256:9b0e3056b8cd8630271825665a0613cc27829d6a24906dc0122b3b4834312f7d,mcr.microsoft.com/cbl-mariner/base/core@sha256:c1bc83a3d385eccbb2f7f7da43a726c697e22a996f693a407c35ac7b4387cd59,docker.io/library/alpine@sha256:1304f174557314a7ed9eddb4eab12fed12cb0cd9809e4c28f29af86979a3c870"
                                                 --DetectorArgs DockerReference=EnableIfDefaultOff,SPDX22SBOM=EnableIfDefaultOff

      - name: Upload output folder
        uses: actions/upload-artifact@v3
        with:
          name: release-snapshot-output-${{ matrix.os }}
          path: ${{ github.workspace }}/output
